@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&family=Roboto+Slab:wght@300&family=Varela+Round&display=swap');

body {
background-color: rgb(115, 243, 255);
}

*{
    margin: 0;
    padding: 0;
}

nav {
font-family: 'Ubuntu',sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
min-height: 75vh;
background-color: black;
color: white;
font-family: 'Varela Round',sans-serif;
display: flex;
margin: 23px auto;
width: 70%;
border-radius: 12px;
padding: 34px;
background-image: url('m1.jpg');
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 118px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}

#progressBar{
    width: 80vw;
    cursor: pointer;
}
.songitemContainer{
    margin-top: 54px;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: antiquewhite;
   
    color: black;
    margin: 54px -273px;
    padding: 14px;
    justify-content: space-between;
    align-items: center;
    

}
.songItem img{
width: 70px ;
margin:  -3px 0;
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
}
.songInfoimg{
    opacity: 0;
    transition: opacity is ease-in;
}